<div class="conference-screen">
  <div class="top-navigation">
    <div class="info">
      <div class="info-tag">
        <div class="fds">
          <div class="logo">
            <span><i class="fa fa-video"></i></span>
          </div>
          <div class="meeting-subject">
            <p class="title">[Internal] Weekly Report Marketing + Sales</p>
            <span class="date">June 22 2024 12:15 PM</span>
          </div>
        </div>
        <div class="right-gr">
          <img src="/assets/images/Ellipse-7.png" alt="">
          <img src="/assets/images/Ellipse-8.png" alt="">
          <img src="/assets/images/Ellipse-9.png" alt="">
          <img src="/assets/images/Ellipse-10.png" alt="">
          <div class="link-bx">
            <span><i class="fa fa-link"></i></span>
            <span class="lnk">asd-8abiyx-0</span>
          </div>
        </div>
      </div>
    </div>

    <div class="hs">
      <div class="host">
        <img src="/assets/images/image-16.png" alt="">
        <div class="host-name">
          <p>Ako Tavershima</p>
          <p class="aln">Moderator</p>
        </div>
        <span><i class="fa fa-ellipsis-vertical"></i></span>
      </div>
    </div>
  </div>
  <div class="communications">
    <div class="media-surface">
      <div class="media-items">
        <div class="pinned">
          <img src="/assets/images/man-with-headset-video-call.png" alt="">
        </div>
      </div>
      <div class="call-controls">
        <span><i class="fa fa-microphone active"></i></span>
        <span><i class="fa fa-video"></i></span>
        <span><i class="fa fa-display"></i></span>
        <span><i class="fa fa-record-vinyl"></i></span>
        <span><i class="lni lni-comments"></i></span>
        <span><i class="fa fa-ellipsis-vertical"></i></span>
        <button class="end-call btn btn-sm danger">End Call</button>
      </div>
    </div>
    <div class="conference-aside">

    </div>
  </div>
</div>